/* global style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Serif", "Mulish", "Helvetica", sans-serif;
}

button {
  border-radius: 25rem;
  color: #000000;
  padding: 0.4rem;
  background-color: #ffffff;
  border-style: none;
  border: 1px solid #ffffff;
  width: 6rem;
  cursor: pointer;
}

/* NavBar */

.navbar {
  padding: 0.9rem;
  background-color: #002600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar img {
  width: 4rem;
  height: 4rem;
}
.navbar ul li {
  color: #ffffff;
  text-transform: uppercase;
  list-style-type: none;
  cursor: pointer;
}
/* Hero */
.hero {
  position: relative;
}
.hero img {
  opacity: 0.8;
  height: 85vh;
  width: 100%;
}
.hero-info {
  position: absolute;
  line-height: 2.5rem;
  color: #ffffff;
  top: 0.9rem;
  left: 0.9rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.3rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  -webkit-text-stroke: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media only screen and (max-width: 48rem) {
  .hero-info {
    font-size: 1rem;
  }
}

.button-hero {
  position: absolute;
  bottom: 2rem;
  transform: translateX(50vw);
}

/* Footer */

.footer {
  padding: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #002600;
  color: #ffffff;
}
.footer .footer-title {
  text-transform: uppercase;
}

.footer .footer-copyright {
  margin: 0.4rem;
  display: block;
  word-wrap: break-word;
}

.footer-icons img {
  margin: 0.2rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9rem;
}

.cards img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.options-card {
  position: relative;
  background-color: #90ee90;
  border-radius: 1rem 1rem 0 0;
  width: 20rem;
  margin: 2rem;
}

@media only screen and (max-width: 900px) {
  .cards {
    display: inline;
  }

  .options-card {
    width: 80%;
    margin: auto;
  }
}

.food-buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh;
  margin: 1vh;
  overflow: auto;
}

.options-buttons {
  position: relative;
  width: 7rem;
  height: 2.5rem;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
}

.options-text {
  position: relative;
  padding: 1rem;
  font-size: 1.125rem;
  word-wrap: break-word;
}
