/* ======================================== */
/*             global style                 */
/* ======================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
body {
  font-family: "PT Serif", "Mulish", "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

button {
  border-radius: 25rem;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.4rem;
  width: 12rem;
  padding: 0.4rem;
}

button:hover {
  border: 2px solid #000000;
  color: #ffffff;
  background: #002600;
}

/* ======================================== */
/*                Navbar                    */
/* ======================================== */

.navbar {
  padding: 0.9rem;
  background-color: #002600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
}
.navbar img {
  width: 4rem;
  height: 4rem;
}
.navbar ul li {
  color: #ffffff;
  text-transform: uppercase;
  list-style-type: none;
  font-weight: 700;
  cursor: pointer;
}
.navbar ul li:hover {
  text-decoration: underline;
}

/* ======================================== */
/*                Hero                      */
/* ======================================== */

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
      to right bottom,
      rgb(0.75, 0.75, 0.75, 0.1),
      rgb(255, 255, 255, 0.8)
    ),
    url(../images/vgmattkassor.jpg);
  background-size: cover;
  height: calc(100vh - 12rem);
}

.hero-info {
  line-height: 2;
  margin: 0.9rem 2rem 12rem 2rem;
  color: #ffffff;
  font-size: 300%;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  -webkit-text-stroke: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media only screen and (max-width: 56rem) {
  .hero-info {
    font-size: 120%;
  }
}

.button-hero {
  position: absolute;
  padding: 1.4rem;
  bottom: 2rem;
  width: 14rem;
}
/* ======================================== */
/*               Food options               */
/* ======================================== */

.footer {
  padding: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #002600;
  color: #ffffff;
  height: 7rem;
}
.footer .footer-title {
  text-transform: uppercase;
}

.footer .footer-copyright {
  margin: 0.4rem;
  display: block;
  word-wrap: break-word;
}
.footer-icons {
  margin-right: 2rem;
}

.footer-icons img {
  margin: 0.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.footer-icons a {
  text-decoration: none;
  margin: 0.2rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9rem;
}

.cards img {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.options-card {
  position: relative;
  background-color: #90ee90;
  border-radius: 1rem 1rem 0 0;
  width: 20%;
  margin: auto;
}
@media only screen and (max-width: 1300px) {
  .cards {
    display: inline;
  }

  .options-card {
    width: 80%;
  }
}

.food-buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh;
  margin: 1vh;
  overflow: auto;
}

.options-buttons {
  position: relative;
  width: 7rem;
  height: 2.5rem;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
}

.options-text {
  position: relative;
  padding: 1rem;
  font-size: 1.125rem;
  word-wrap: break-word;
}

/* ======================================== */
/*               Food Details               */
/* ======================================== */

.food-details-card {
  position: relative;
  width: 80%;
  background-color: #dcdcdc;
  border: 0.001rem solid #002600;
  margin: 2rem auto;
  text-align: center;
}
.food-details-card h1 {
  position: absolute;
  font-size: 2rem;
  color: #002600;
  top: 1rem;
  left: 1rem;
}
.food-details-card-image {
  width: 100%;
  opacity: 0.8;
  height: 20rem;
  object-fit: cover;
  overflow: hidden;
}
.food-details-card-info {
  background-color: #dcdcdc;
  padding: 1rem;
  width: 100%;

  font-weight: bold;
}
.food-details-card-info-text {
  text-align: center;
}
.food-details-button {
  margin-top: 1rem;
  border: 1px solid #002600;
}
/* ======================================== */
/*              Checkout                    */
/* ======================================== */
.checkout {
  height: auto;
}
.checkout__details {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
}
.checkout__details--image {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 25%;
  height: 25%;
}
.checkout__details--info {
  background-color: #dcdcdc;
  width: calc(100vw - 4rem);
  font-size: 250%;
  font-weight: 700;
  margin: 2rem;
  padding: 2rem;
  bottom: 2rem;
}
.checkout__details--info span {
  color: #002600;
}
.checkout__details--info button {
  width: 10rem;
  padding: 0.4rem;
}
@media only screen and (max-width: 56rem) {
  .checkout {
    height: auto;
  }

  .checkout__details--image {
    width: 50%;
    height: 60%;
  }
  .checkout__details--info {
    line-height: 3;
    font-size: 150%;
    height: 19rem;
  }
}
/* ======================================== */
/*               Contact page               */
/* ======================================== */
.contact-section {
  margin: 2rem 1rem;
}
.contact-section h1,
h4 {
  margin: 1rem 0rem;
}
.contact-form {
  width: auto;
}
.contact-form label {
  margin: 0.8rem 0;
}
.contact-form-submit-button {
  margin: 0.8rem 0;
  border-radius: 25rem;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #000000;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.4rem;
  width: 12rem;
  padding: 0.4rem;
}

.contact-form-submit-button:hover {
  border: 2px solid #000000;
  color: #ffffff;
  background: #002600;
}

/* ======================================== */
/*               Footer                     */
/* ======================================== */

.footer {
  padding: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #002600;
  color: #ffffff;
  height: 7rem;
}
.footer .footer-title {
  text-transform: uppercase;
  font-weight: 700;
}

.footer .footer-copyright {
  margin: 0.4rem;
  display: block;
  word-wrap: break-word;
  text-align: center;
}
