/* ======================================== */
/*             global style                 */
/* ======================================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Serif", "Mulish", "Helvetica",sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

button {
    border-radius: 25rem;
    color: #000000;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.4rem;
}
button:hover{
    border: 2px solid #000000;
    color: #ffffff;
    background: #002600;
}


/* ======================================== */
/*                Navbar                    */
/* ======================================== */

.navbar{
    padding: .9rem;
    background-color: #002600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
}
.navbar img{
    width: 4rem;
    height:4rem;
}
.navbar ul li {
    color: #ffffff;
    text-transform:uppercase;
    list-style-type: none;
    cursor: pointer;
}

/* ======================================== */
/*                Hero                      */
/* ======================================== */

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right bottom, rgb(0.75,0.75,0.75, 0.1),rgb(255, 255, 255,0.8)), url(../images/vgmattkassor.jpg);
    background-size: cover;
    height: 85vh;
}

.hero-info {
    line-height: 2;
    margin: 0.9rem 2rem 12rem 2rem;
    color: #ffffff; 
    font-size: 350%;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    -webkit-text-stroke: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


@media only screen and (max-width: 56rem) {
    .hero-info{
        font-size: 150%; 
    } 
}

.button-hero{
    position: absolute;
    padding: 1.4rem;
    bottom: 2rem;
    width: 14rem;
}

/* ======================================== */
/*               Footer                     */
/* ======================================== */

.footer {
    padding: .9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #002600;
    color: #ffffff;
    height: 7rem;
}
.footer .footer-title {
    text-transform: uppercase;
}

.footer .footer-copyright{
    margin: .4rem;
    display: block;
    word-wrap: break-word;
}
.footer-icons{
    margin-right:2rem;
}

.footer-icons img {
    margin:.5rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.footer-icons a {
   text-decoration: none;
}